<% if pod.image.present? %>
  <div class="side_pod banner_pod">
      <% if pod.url.present? %>
          <%= link_to(image_tag(pod.image.image.thumb('280x200#c').url), pod.url) %>
      <% else %>
          <%= image_tag(pod.image.image.thumb('280x200#c').url) %>
      <% end %>
	  <div class="clear"></div>
  </div>
<% end %>