<div class="side_pod gallery_pod">
  <ul class="gallery_slider">
    <% pod.portfolio_entry.items.each do |item| %>
      <li>
        <%= image_fu(item.image, '280x180#c') %>
      </li>
    <% end if pod.portfolio_entry.present? and pod.portfolio_entry.items.present? %>
  </ul>
  <p><%= pod.name %></p>
</div>