<ul>
  <% if ::Refinery::Pods::Admin::PodsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.pods_admin_pods_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_pods_admin_pod_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::Pods::Admin::PodsController.sortable? && ::Refinery::Pods::Pod.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Pods"),
                 refinery.pods_admin_pods_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Pods"),
                 refinery.pods_admin_pods_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
