<div class="gallery_pod">
  <ul class="gallery_slider">
    <% pod.portfolio_entry.images.each do |image| %>
      <li>
        <%= image_fu(image, '280x180#c') %>
      </li>
    <% end if pod.portfolio_entry.present? and pod.portfolio_entry.images.present? %>
  </ul>
  <p><%= pod.name %></p>
</div>