<% content_for :body_content_left do %>
  <ul id="pods">
    <% @pods.each do |pod| %>
      <li>
        <%= link_to pod.name, pod_path(pod) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
